{% extends 'aid/main.html' %}
{% load static %}

<link rel ="stylesheet" type='text/css' href="{% static 'css/main.css' %}">

{% block content %}

<form class="form-group" action="" method="POST">

    {% csrf_token %}
    {{form}}

    <input class="btn btn-success" type="submit" name="Submit">
</form>

<script>
    getLocation();
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
      }
    }
    
    function showPosition(position) {
      var latlon = position.coords.latitude + "," + position.coords.longitude;
      document.getElementById("id_latitude").setAttribute('value',position.coords.latitude);
      document.getElementById("id_longitude").setAttribute('value',position.coords.longitude);
      console.log(latlon);
    }

    function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
        x.innerHTML = "User denied the request for Geolocation."
        break;
        case error.POSITION_UNAVAILABLE:
        x.innerHTML = "Location information is unavailable."
        break;
        case error.TIMEOUT:
        x.innerHTML = "The request to get user location timed out."
        break;
        case error.UNKNOWN_ERROR:
        x.innerHTML = "An unknown error occurred."
        break;
  }
}

</script>


{% endblock content %}